TetClientCallToInviaMailWs/TetClientCallToInviaMailWs/Connected Services/ServiceReference1/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendEmailWithAttachments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendEmailWithAttachmentsRequest" type="tns:SendEmailWithAttachmentsRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SendEmailWithAttachmentsRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="tns:SerEmail" />
          <s:element minOccurs="0" maxOccurs="1" name="SmtpClient" type="tns:SerSmtpClient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SerEmail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressesEmail" type="tns:ArrayOfSerMailAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="BccsEmail" type="tns:ArrayOfSerMailAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfSerAttachment" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderEmail" type="tns:SerMailAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSerMailAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SerMailAddress" nillable="true" type="tns:SerMailAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SerMailAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSerAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SerAttachment" nillable="true" type="tns:SerAttachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SerAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SerSmtpClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Host" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Port" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CredentialsUsername" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CredentialsPassword" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendEmailWithAttachmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailWithAttachmentsResult" type="tns:SendEmailWithAttachmentsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SendEmailWithAttachmentsResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HasError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorStackTrace" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendEmailWithAttachmentsSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailWithAttachments" />
  </wsdl:message>
  <wsdl:message name="SendEmailWithAttachmentsSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailWithAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSoap">
    <wsdl:operation name="SendEmailWithAttachments">
      <wsdl:input message="tns:SendEmailWithAttachmentsSoapIn" />
      <wsdl:output message="tns:SendEmailWithAttachmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenSoapIn" />
      <wsdl:output message="tns:GetTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSoap" type="tns:wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmailWithAttachments">
      <soap:operation soapAction="http://tempuri.org/SendEmailWithAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSoap12" type="tns:wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmailWithAttachments">
      <soap12:operation soapAction="http://tempuri.org/SendEmailWithAttachments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap12:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port name="wsSoap" binding="tns:wsSoap">
      <soap:address location="https://localhost:44386/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSoap12" binding="tns:wsSoap12">
      <soap12:address location="https://localhost:44386/ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>